# Ignore Python virtual environments
.venv/

# Ignore Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Ignore test artifacts
tests/__pycache__/
Resources/__pycache__/

# Ignore editor/IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and coverage files
*.log
*.coverage
coverage.xml
htmlcov/
